@page
@model EnrollMent.Pages.EditModel
@{
}
<div class="container">
    <h1>Update Enrollement Form</h1>
    <form method="post">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" asp-for="Student.StudName" />
        </div>
        <div class="form-group">
            <label>Age</label>
            <input class="form-control" asp-for="Student.StudAge" />
        </div>
        <div class="form-group">
            <label>Address</label>
            <input class="form-control" asp-for="Student.StudAddress" />
        </div>
        <div class="form-group">
            <label>Course</label>
            <input class="form-control" asp-for="Student.StudCourse" />
        </div>
        <div class="form-group">
            <label>Year</label>
            <input class="form-control" asp-for="Student.StudSCYear" />
        </div>
        <div class="form-group">
            <label>School</label>
            <input class="form-control" asp-for="Student.StudSchool" />
        </div>
        <div class="form-group">
            <label>Street</label>
            <input class="form-control" asp-for="Student.StudStreet" />
        </div>
        <div class="form-group">
            <label>City</label>
            <input class="form-control" asp-for="Student.StudCity" />
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>